*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

/* ========================
  Typography
  ======================== */
h1,
h2 {
  color: #333333;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

h2 {
  font-weight: 600;
  font-size: 1rem;
}

.stay__tag-title {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #4f4f4f;
}

.stay__type,
.rating__number {
  font-size: 0.875rem;
  font-weight: 500;
}

.stay__type {
  color: #828282;
}

.rating__number {
  color: #4f4f4f;
}

/* ========================
  Layout
  ======================== */
.wrapper {
  padding: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.main__sectionTop {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@media (min-width: 625px) {
  .stays {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.section {
  display: flex;
  flex-direction: column;
}

@media (min-width: 625px) {
  .section {
    width: 30%;
  }
}

.section__img {
  order: -2;
}

.section__stay {
  order: -1;
  display: flex;
}

.stay__type {
  display: flex;
}

.rating {
  display: flex;
  align-items: center;
  margin-left: auto;
}
