html {
  font-size: calc(0.5em + 1vw);
}

@media (min-width: 625px) {
  html {
    font-size: calc(0.3em + 1vw);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

/* ========================
  Typography
  ======================== */
h1,
h2 {
  color: #333333;
  margin-top: 0;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

h2 {
  font-weight: 600;
  font-size: 1rem;
}

.stay__type,
.rating__number {
  font-size: 0.875rem;
  font-weight: 500;
}

.stay__type {
  color: #828282;
}

.stay__type-tag {
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #4f4f4f;
  border: 1px solid #4f4f4f;
  padding: 0.3em 0.6em;
  border-radius: 12px;
  margin-right: 0.5em;
  margin-right: 0.5rem;
}

.rating__number {
  color: #4f4f4f;
}

/* ========================
  Layout
  ======================== */
.wrapper {
  padding: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.main__sectionTop {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@media (min-width: 625px) {
  .stays {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @supports (display: grid) {
    .stays {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 2em;
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
}

@media (min-width: 625px) {
  .section {
    width: 30%;
  }

  @supports (display: grid) {
    .section {
      width: 100%;
    }
  }
}

.section__img {
  order: -2;
  border-radius: 24px;
  height: 250px;
  object-fit: cover;
}

.section__stay {
  order: -1;
  display: flex;
}

.stay__type {
  display: flex;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
  margin-left: auto;
}
